@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Roboto Condenced";
    scroll-behavior: smooth;
    @apply text-zinc-700;
  }

  .wrapper {
    @apply max-w-xs min-[420px]:max-w-xl px-4 mx-auto lg:max-w-5xl md:px-8 lg:px-12;
  }
}

@layer components {

  .bonbonsshop-button {

    @apply text-white rounded-xl bg-new-york-pink bg-opacity-90 hover:bg-opacity-100;
  }

  .section-heading,
  .wp-block-heading:not(.prose .wp-block-heading) {
    @apply text-4xl font-bold tracking-wide text-new-york-pink sm:text-5xl lg:text-6xl;
  }

  .bonbonsshop .wp-block-button__link,
  .bonbonsshop .wc-block-cart__submit-button,
  .bonbonsshop .wc-block-components-button {
    @apply text-white rounded-xl bg-new-york-pink bg-opacity-90 hover:bg-opacity-100;
  }

  /* Override Woo styles */

  /* Start Products Loop */

  .bonbonsshop .woocommerce .products ul,
  .bonbonsshop .woocommerce ul.products {
    @apply grid before:hidden after:hidden min-[420px]:grid-cols-2 min-[420px]:gap-4 lg:grid-cols-3 lg:gap-8;
  }

  .bonbonsshop .woocommerce ul.products[class*="columns-"] li.product,
  .bonbonsshop .woocommerce-page ul.products[class*="columns-"] li.product {
    @apply float-none w-full mx-0;
  }

  .bonbonsshop .woocommerce ul.products li.product {
    @apply pb-8 overflow-hidden shadow-2xl rounded-2xl;
  }

  .bonbonsshop .woocommerce ul.products li.product a img {
    @apply mb-4;
  }

  .bonbonsshop .woocommerce ul.products li.product .woocommerce-loop-category__title,
  .bonbonsshop .woocommerce ul.products li.product .woocommerce-loop-product__title,
  .bonbonsshop .woocommerce ul.products li.product h3 {
    @apply px-4 text-xl font-semibold sm:text-2xl;
  }

  .bonbonsshop .woocommerce ul.products li.product .price {
    @apply px-4 text-xl font-bold;
  }

  .bonbonsshop .woocommerce ul.products li.product .button {
    @apply block mx-auto w-fit;
  }

  .bonbonsshop .woocommerce a.added_to_cart {
    @apply block px-4;
  }

  /* Start Single Product */
  .bonbonsshop {

    .single-product {

      .woocommerce-product-gallery__image {
        @apply rounded-2xl;
      }

      /* gallery */
      .flex-control-nav.flex-control-thumbs {
        @apply !mt-4 !flex !gap-1.5;

        img {
          @apply rounded-lg;
        }
      }

      .price {
        @apply text-xl text-zinc-700;
      }

      .woocommerce-product-details__short-description {
        @apply mt-6 text-xl text-zinc-700;
      }

      form.cart {
        @apply flex mt-6;

        .quantity {
          @apply !mr-8;

          input {
            @apply border-new-york-pink/50 border-2 text-zinc-700 text-lg rounded-lg focus:ring-new-york-pink focus:border-new-york-pink block w-full p-2.5;
          }
        }

        button {
          @apply bg-new-york-pink/90 hover:bg-new-york-pink;
        }
      }

      form.variations_form {
        @apply mt-6;

        th.label {
          @apply text-lg !font-semibold text-zinc-700 flex;
        }

        td.value {

          select {
            @apply p-2 text-lg bg-white text-zinc-500;
          }

          .reset_variations {
            @apply text-base text-zinc-500;
          }
        }

        select[id="pa_filling"] {

          @apply px-2 text-base border rounded-lg appearance-none border-new-york-pink;

          background: url(/wp-content/themes/bonbonsshop-theme/assets/images/chevron-down.svg) no-repeat center right 5px;
          background-size: 24px;
        }

        .price {
          @apply inline-block mb-6;
        }

        .woocommerce-variation-add-to-cart {

          @apply flex items-stretch;

          .quantity {

            input {
              @apply border-new-york-pink/50 border-2 text-zinc-700 text-lg rounded-lg focus:ring-new-york-pink focus:border-new-york-pink block w-full p-2.5;
            }
          }

          button {
            @apply bg-new-york-pink/90 hover:bg-new-york-pink;
          }
        }

      }

      .product_meta {
        @apply hidden;
      }

      .woocommerce-tabs {

        @apply pb-4 border-b border-[#cfc8d8];

        .panel {

          h2 {
            @apply !mb-4 text-2xl font-bold text-zinc-700;
          }

          p {
            @apply text-xl text-zinc-700;
          }

          .woocommerce-product-attributes-item__label {
            @apply text-xl font-bold text-zinc-700;
          }

          .woocommerce-product-attributes-item__value {
            @apply text-xl text-zinc-700;
          }
        }
      }

      .related.products {
        @apply mt-12;

        h2 {
          @apply !mb-4 text-2xl font-bold text-zinc-700;
        }
      }

    }

    .wp-block-woocommerce-cart {

      .wc-block-cart__empty-cart__title {
        @apply mb-12;
      }

      .wc-block-cart-items__header {
        span {
          @apply text-lg text-zinc-700;
        }
      }

      span.wc-block-cart__totals-title {
        @apply text-lg text-zinc-700;
      }

      .wc-block-cart-item__image img {
        @apply rounded-xl;
      }

      .wc-block-components-product-name {
        @apply text-lg;
      }

      .wc-block-components-shipping-address {
        @apply hidden;
      }

      .wc-block-components-totals-item__description {
        @apply text-base;
      }

      .wc-block-components-totals-shipping__change-address__link {
        @apply inline-block mt-6;
      }

      .wc-block-formatted-money-amount {
        @apply text-base;
      }

      .wc-block-components-radio-control .wc-block-components-radio-control__input:checked::before {
        @apply bg-new-york-pink;
      }
    }
  }

  /* Start Delivery & Pickup date picker */
  .bonbonsshop {
    .orddd_lite_field_note {
      @apply text-lg text-orange-400;
    }

    .wc-block-components-form {
      .wc-block-components-text-input {
        label {
          transform: translateY(.5em) scale(.75);
        }

      }

      .wc-block-components-text-input.orddd-datepicker {
        .hasDatepicker {
          padding: 2em .5em .5em;
        }
      }
    }
  }


  /* Start Single product custom-decor inputs */
  .bonbonsshop {

    .wapf-field-row {

      @apply ml-0;

      .wapf-field-container {

        @apply p-0;

        .wapf-field-input {

          @apply mt-4 mb-2;

          textarea {

            @apply p-2 border rounded-lg resize-none border-new-york-pink focus:outline-none focus:ring-1 focus:ring-zinc-700/20;
          }
        }
      }
    }


    .woocommerce-variation-add-to-cart {

      .wau_wrapper_div {

        @apply flex flex-col pb-8;

        input {

          @apply mt-4;
        }

        input::file-selector-button {

          @apply p-2 mr-8 border-none rounded-lg bonbonsshop-button;
        }
      }
    }
  }


  /* Hide delivery rates */
  .bonbonsshop {

    .wc-block-components-totals-shipping .wc-block-formatted-money-amount {
      @apply hidden;
    }

    .wc-block-components-shipping-rates-control__package .wc-block-components-radio-control__description-group {
      @apply hidden;
    }
  }

  /* Checkout page */
  .bonbonsshop {

    .woocommerce-billing-fields,
    .woocommerce-shipping-fields {

      /* Text input */
      .input-text {

        @apply px-4 py-3 border rounded-lg border-new-york-pink focus:ring active:ring;
      }

    }

    .woocommerce-checkout-review-order {

      button#place_order {

        @apply bonbonsshop-button;
      }
    }

  }
}